<tr>
    <td><%= sm.mobile %></td>
    <td><%= sm.content %></td>
    <td><%= sm.username %></td>
    <td><%= sm.timestamp %></td>
    <td><%= sm.digest %></td>
    <td><%= sm.created_at %></td>
</tr>