<tr>
    <td  class="tg-b7b8"><%= sm.mobile %></td>
    <td  class="tg-b7b8"><%= sm.content %></td>
    <td  class="tg-b7b8"><%= sm.username %></td>
    <td  class="tg-b7b8"><%= sm.timestamp %></td>
    <td  class="tg-b7b8"><%= format_timestamp(sm.timestamp) %></td>
    <td  class="tg-b7b8"><%= sm.digest %></td>
    <td  class="tg-b7b8"><%= sm.created_at %></td>
</tr>